@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Patua+One&display=swap');

:root {
	--white: #F6F6F6;
	--dark: #25292A;
	--black: #141517;
	--blue: #1FBAF1;
	--red: #E42138;

	--sans:  'Noto Sans', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--serif: 'Patua One', Georgia, serif;

	--border-radius: 5px;

	--gradient: linear-gradient(20deg, #D32F48, var(--blue));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-family: var(--sans);
	font-size: 14px;
	line-height: 1.5;
	color: var(--white);
	background-color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--serif);
	font-weight: bold;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
